
*-build-*
*.a
*.app
*.autosave
*.dll
*.dylib
*.exe
*.gch
*.la
*.lai
*.lib
*.lo
*.moc
*.mod
*.o
*.obj
*.out
*.pch
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.qmlproject.user
*.qmlproject.user.*
*.slo
*.so
/.qmake.cache
/.qmake.stash
Makefile*
moc_*.cpp
qrc_*.cpp
ui_*.h
/build-Git-z*
